<div class="row justify-content-md-center">
  <div class="col-md-6">
    {{template "layouts/application/flash.html" .}}
    <h2>{{.title}}</h2>
    <hr/>
    <form method="post">
      <div class="form-group">
        <label for="email">{{t .locale "attributes.email"}}</label>
        <input type="email" class="form-control" id="email" name="email" value="{{t .locale "site.author.email"}}">
      </div>
      <div class="form-group">
        <label for="name">{{t .locale "attributes.username"}}</label>
        <input type="text" class="form-control" id="name" name="name" value={{t .locale "site.author.name"}}>
      </div>
      {{template "layouts/application/form-buttons.html" .}}
    </form>
  </div>
</div>
