<div class="row justify-content-md-center">
  <div class="col-md-6">
    {{template "layouts/application/flash.html" .}}
    <h2>{{.title}}</h2>
    <hr/>
    <form method="post">
      <div class="form-group">
        <label for="googleVerifyCode">{{t .locale "nut.admin.site.seo.googleVerifyCode"}}</label>
        <input type="text" class="form-control" id="googleVerifyCode" name="googleVerifyCode" value="{{.form.GoogleVerifyCode}}">
      </div>
      <div class="form-group">
        <label for="baiduVerifyCode">{{t .locale "nut.admin.site.seo.baiduVerifyCode"}}</label>
        <input type="text" class="form-control" id="baiduVerifyCode" name="baiduVerifyCode" value={{.form.BaiduVerifyCode}}>
      </div>
      {{template "layouts/application/form-buttons.html" .}}
    </form>
    <br/>
    <div class="list-group">
      <a target="_blank" href="/google{{.form.GoogleVerifyCode}}.html" class="list-group-item list-group-item-action">google{{.form.GoogleVerifyCode}}.html</a>
      <a target="_blank" href="/baidu_verify_{{.form.BaiduVerifyCode}}.html" class="list-group-item list-group-item-action">baidu_verify_{{.form.BaiduVerifyCode}}.html</a>
      <a target="_blank" href="/robots.txt" class="list-group-item list-group-item-action">robots.txt</a>
      <a target="_blank" href="/sitemap.xml" class="list-group-item list-group-item-action">sitemap.xml</a>
      {{range .languages}}
      <a target="_blank" href="/rss/{{.}}.atom" class="list-group-item list-group-item-action">{{.}}.atom</a>
      {{end}}
    </div>
  </div>
</div>
