<div class="row justify-content-md-center">
  <div class="col-md-10">
    <h2>{{.item.Title}}</h2>
    <hr/>
    <p class="markdown">{{.item.Body}}</p>
  </div>
  {{if .available }}
  <div class="col-md-6">
    {{template "layouts/application/flash.html" .}}
    <form method="post" action="{{urlfor "survey.Plugin.CreateRecord" "formId" .item.ID}}">
      {{range .item.Fields}}
      {{if eq .Type "text"}}
        <div class="form-group">
          <label for="{{.Name}}"> {{.Label}}{{if .Required}}*{{end}}</label>
          <input type="text" class="form-control" id="{{.Name}}" name="{{.Name}}">
        </div>
      {{else if eq .Type "checkboxs"}}
        <h5>{{.Label}} {{if .Required}}*{{end}}</h5>
        <div class="form-check">
          {{$name:=.Name}}
          {{range $k, $v := (split .Body "\r\n")}}
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="name_{{$k}}" name="{{$name}}" value="{{$v}}">
            {{$v}}
          </label>
          {{end}}
        </div>
      {{else if eq .Type "select"}}
        <div class="form-group">
          <label for="sortOrder">{{.Label}} {{if .Required}}*{{end}}</label>
          <select class="form-control" id="{{.Name}}" name="{{.Name}}">
            {{range (split .Body "\r\n")}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
          </select>
        </div>
      {{else if eq .Type "textarea"}}
        <div class="form-group">
          <label for="body">{{.Label}} {{if .Required}}*{{end}}</label>
          <textarea class="form-control" id="{{.Name}}" name="{{.Name}}" rows="6"></textarea>
        </div>
      {{end}}
      {{end}}
      {{template "layouts/application/form-buttons.html" .}}
    </form>
  </div>
  {{end}}
</div>
