<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">{{t .locale "site.subhead"}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      {{range $k, $v := (links "header")}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{.Href}}" id="header-nav-{{$k}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{t $.locale .Label}}
        </a>
        <div class="dropdown-menu" aria-labelledby="header-nav-{{$k}}">
          {{range links (printf "header.%d" .SortOrder)}}
          <a class="dropdown-item" href="{{.Href}}">{{t $.locale .Label}}</a>
          {{end}}
        </div>
      </li>
      {{end}}
      {{template "layouts/application/personal-bar.html" .}}
    </ul>
    {{template "layouts/application/search-box.html" .}}
  </div>
</nav>
