<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/application.css">
    <script src="/3rd/jquery/dist/jquery.min.js"></script>
    <script src="/3rd/jquery-ujs/src/rails.js"></script>
    <script src="/3rd/popper.js/dist/umd/popper.min.js"></script>
    <script src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/application.js"></script>
  </head>
  <body>
    {{template "layouts/application/header.html" .}}
    <div class="container">      
      {{.LayoutContent}}
      {{template "layouts/application/footer.html" .}}
    </div>
  </body>
</html>
