{{assets_css "/3rd/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css"}}
{{assets_css "/3rd/gentelella/vendors/font-awesome/css/font-awesome.min.css"}}
{{assets_css "/3rd/gentelella/vendors/nprogress/nprogress.css"}}
{{assets_css "/3rd/gentelella/vendors/iCheck/skins/flat/green.css"}}
{{assets_css "/3rd/gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"}}
{{assets_css "/3rd/gentelella/vendors/jqvmap/dist/jqvmap.min.css"}}
{{assets_css "/3rd/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css"}}
{{assets_css "/3rd/gentelella/build/css/custom.min.css"}}
