{{assets_js "/3rd/gentelella/vendors/jquery/dist/jquery.min.js"}}
{{assets_js "/3rd/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"}}
{{assets_js "/3rd/gentelella/vendors/fastclick/lib/fastclick.js"}}
{{assets_js "/3rd/gentelella/vendors/nprogress/nprogress.js"}}
{{assets_js "/3rd/gentelella/vendors/Chart.js/dist/Chart.min.js"}}
{{assets_js "/3rd/gentelella/vendors/gauge.js/dist/gauge.min.js"}}
{{assets_js "/3rd/gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"}}
{{assets_js "/3rd/gentelella/vendors/iCheck/icheck.min.js"}}
{{assets_js "/3rd/gentelella/vendors/skycons/skycons.js"}}
{{assets_js "/3rd/gentelella/vendors/Flot/jquery.flot.js"}}
{{assets_js "/3rd/gentelella/vendors/Flot/jquery.flot.pie.js"}}
{{assets_js "/3rd/gentelella/vendors/Flot/jquery.flot.time.js"}}
{{assets_js "/3rd/gentelella/vendors/Flot/jquery.flot.stack.js"}}
{{assets_js "/3rd/gentelella/vendors/Flot/jquery.flot.resize.js"}}
{{assets_js "/3rd/gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"}}
{{assets_js "/3rd/gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js"}}
{{assets_js "/3rd/gentelella/vendors/flot.curvedlines/curvedLines.js"}}
{{assets_js "/3rd/gentelella/vendors/DateJS/build/date.js"}}
{{assets_js "/3rd/gentelella/vendors/jqvmap/dist/jquery.vmap.js"}}
{{assets_js "/3rd/gentelella/vendors/jqvmap/dist/maps/jquery.vmap.world.js"}}
{{assets_js "/3rd/gentelella/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"}}
{{assets_js "/3rd/gentelella/vendors/moment/min/moment.min.js"}}
{{assets_js "/3rd/gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js"}}
{{assets_js "/3rd/gentelella/build/js/custom.min.js"}}

{{assets_js "/assets/main.js"}}
