<div class="row justify-content-md-center">
  <div class="col-md-6">
    {{template "layouts/application/flash.html" .}}
    <h2>{{.title}}</h2>
    <hr/>
    <form method="post" data-confirm="{{t .locale "helpers.are-you-sure"}}">
      <div class="form-group">
        <label for="email">{{t .locale "attributes.email"}}</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      {{template "layouts/application/form-buttons.html" .}}
    </form>
    <br/>
    {{template "nut/users/_shared-links.html" .}}
  </div>
</div>
