<div class="row justify-content-md-center">
  <div class="col-md-6">
    {{template "layouts/application/flash.html" .}}
    <h2>{{.title}}</h2>
    <hr/>
    <form method="post" data-confirm="{{t .locale "helpers.are-you-sure"}}">
      <div class="form-group">
        <label for="password">{{t .locale "attributes.password"}}</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
        <small id="passwordHelp" class="form-text text-muted">{{t .locale "helpers.password"}}</small>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation">{{t .locale "attributes.passwordConfirmation"}}</label>
        <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" aria-describedby="passwordConfirmationHelp">
        <small id="passwordConfirmationHelp" class="form-text text-muted">{{t .locale "helpers.passwordConfirmation"}}</small>
      </div>
      {{template "layouts/application/form-buttons.html" .}}
    </form>
    <br/>
    {{template "nut/users/_shared-links.html" .}}
  </div>
</div>
