<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{urlfor "nut.Plugin.GetUsersSignIn" }}">{{t .locale "nut.users.sign-in.title"}}</a>
  <a class="list-group-item list-group-item-action" href="{{urlfor "nut.Plugin.GetUsersSignUp" }}">{{t .locale "nut.users.sign-up.title"}}</a>
  <a class="list-group-item list-group-item-action" href="{{urlfor "nut.Plugin.GetUsersConfirm" }}">{{t .locale "nut.users.confirm.title"}}</a>
  <a class="list-group-item list-group-item-action" href="{{urlfor "nut.Plugin.GetUsersUnlock" }}">{{t .locale "nut.users.unlock.title"}}</a>
  <a class="list-group-item list-group-item-action" href="{{urlfor "nut.Plugin.GetUsersForgotPassword" }}">{{t .locale "nut.users.forgot-password.title"}}</a>
</div>
